<ion-view title="Categories" id="page3">
  <ion-content padding="true" style="background: url(img/LKKvtyW0Rx2AFjsZGfxU_bg-light.png) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="categories-list6">
      <ion-item id="categories-list-item13">Travel &amp; Outdoor</ion-item>
      <ion-item id="categories-list-item14">Charity &amp; Causes</ion-item>
      <ion-item id="categories-list-item15">Spirituality</ion-item>
      <ion-item id="categories-list-item19">Family &amp; Education</ion-item>
      <ion-item id="categories-list-item20">Holiday</ion-item>
      <ion-item id="categories-list-item21">Government</ion-item>
      <ion-item id="categories-list-item22">Fashion</ion-item>
      <ion-item id="categories-list-item23">Home &amp; Lifestyle</ion-item>
      <ion-item id="categories-list-item24">Auto, Boat &amp; Air</ion-item>
    </ion-list>
  </ion-content>
</ion-view>