<ion-view title="" id="page5">
  <ion-content padding="true" style="background: url(img/9PdmF9q2RKeJTql7aeOW_Ding20BG.png) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="width: 300px; height: 11.9922px;"></div>
    <div>
      <img src="img/NG9IFszQJGVJNNiZFjh6_DingLogonoBG.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 300px; height: 16px;"></div>
    <form id="page5-form1" class="list">
      <ion-list id="page5-list3">
        <label class="item item-input" id="page5-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page5-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 11px;"></div>
      <button id="page5-button2" style="border-radius:7px 7px 7px 7px;" class="button button-positive  button-block">Log in</button>
      <a ui-sref="registerUser" id="page5-button6" class="button button-positive  button-block button-clear">Sign Up</a>
      <div id="page5-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#F9F4F4;">LOGIN WITH</p>
      </div>
      <div>
        <img src="img/BwZkHKZcTzGcNwl4LPlQ_socials.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
    </form>
  </ion-content>
</ion-view>