<ion-view title="Register User" id="page6">
  <ion-content padding="true" style="background: url(img/FhdTH40QKi09ndngapo6_bg-light.png) no-repeat center;background-size:cover;" class="has-header">
    <form id="registerUser-form2" class="list">
      <ion-list id="registerUser-list4">
        <label class="item item-input" id="registerUser-input3">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registerUser-input4">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registerUser-input5">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="registerUser-button4" class="button button-stable  button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>